<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.vranckaert.episodeWatcher"
      android:installLocation="auto"
      android:versionCode="19"
      android:versionName="1.7.0 - RC4">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".TabMain"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EpisodesWatchListActivity"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".LoginSubActivity"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".RegisterSubActivity"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".EpisodeDetailsSubActivity"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".PreferencesActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/preferences"/>
        <activity android:name=".ShowManagementActivity"
                  android:label="@string/manageShows"/>
        <activity android:name=".ShowFavosAndIngoredManagementActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/manageShows"/>
        <activity android:name=".ShowSearchActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/manageShows"/>
        <activity android:name=".AboutActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".WhatsNewActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>

        <uses-library android:name="android.test.runner" />
    </application>
    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="eu.vranckaert.episodeWatcher" android:label="Tests for MyEpisodes Manager" />

    
    <!-- 
Profielnaam: 	myepisodeswatchmanager-android.vranckaert.eu
Website-URL: 	http://myepisodeswatchmanager-android.vranckaert.eu
Webeigendom-id [?] : 	UA-3183255-2
Status voor het bijhouden van conversies: 	waarschuwing   Bijhouden van conversies niet geïnstalleerd (Laatst gecontroleerd op: 3-apr-2010 8:25:44 )
De conversiecode van Google Analytics is niet gedetecteerd op de startpagina van uw website. Voor een correcte werking van Analytics moet de conversiecode door u of uw webbeheerder aan elke pagina van uw website worden toegevoegd. 
     -->

</manifest> 