<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.vranckaert.android.context">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
              tools:overrideLibrary="android.support.v14.preference" />

    <application>

    </application>

</manifest>
