<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="auto"
      package="eu.vranckaert.episodeWatcher">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="MyEpisodes" android:theme="@style/NewAppThemeLight">
        <activity android:name=".activities.HomeActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EpisodeListingActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.LoginActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.RegisterActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.EpisodeDetailsActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.PreferencesActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/preferences"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.ShowManagementPortalActivity"
                  android:label="@string/manageShows"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.ShowManagementActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/manageShows"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.ShowManagementAddActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/manageShows"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.RandomEpPickerActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.AboutActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activities.ChangelogActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>

        <uses-library android:name="android.test.runner" />


        <activity android:name=".twopointo.context.StartupActivity"
                  android:label="ME 2.0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".twopointo.context.LoginActivity"/>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    
    <!-- 
Profielnaam: 	myepisodeswatchmanager-android.vranckaert.eu
Website-URL: 	http://myepisodeswatchmanager-android.vranckaert.eu
Webeigendom-id [?] : 	UA-3183255-2
Status voor het bijhouden van conversies: 	waarschuwing   Bijhouden van conversies niet geïnstalleerd (Laatst gecontroleerd op: 3-apr-2010 8:25:44 )
De conversiecode van Google Analytics is niet gedetecteerd op de startpagina van uw website. Voor een correcte werking van Analytics moet de conversiecode door u of uw webbeheerder aan elke pagina van uw website worden toegevoegd. 
     -->

</manifest> 